div {
    position: absolute;
}
#a1 {
    background-color: lightgoldenrodyellow;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
}
#a2 {
    background-color: lightsteelblue;
    left: 0;
    top: 10%;
    bottom: 10%;
    width: 10%;
}
#a3 {
    background-color: lightgreen;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
}
#a4 {
    background-color: darkslateblue;
    right: 0;
    top: 10%;
    bottom: 10%;
    width: 10%;
}
#a5 {
    background-color: lightslategrey;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
}