body {
    margin: 0;
    font-family: Calibri;
}

#header-bar {
    height: 10px;
    background-color: #242e30;
}

#main {
    width: 1000px;
    margin: 0 auto;
}

#pretitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

#d1-links {
    padding-top: 35px;
}

#d1-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #7cbfdf;
    padding-right: 25px;
}

#title {
    padding-top: 60px;
    text-align: center;
}

#title img {
    padding-bottom: 30px;
}

#title span {
    color: #7cbfdf;
    font-size: 30px;
}

#columns {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 60px;
    border-bottom: 2px solid grey;
}

#circles {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #7cbfdf;
    border-radius: 50%;
    opacity: 0.7;
}

.circle:hover {
    opacity: 0.85;
}

#circle1 {
    margin-right: -20%;
}

#circle2 {
    margin-left: -35%;
    margin-right: -35%;
}

#circle3 {
    margin-left: -20%;
}

#columns-two {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#columns-two img {
    width: 80px;
}

.lines {
   line-height: 30px; 
}

#column-two a {
    line-height: 30px;
    text-decoration: none;
    color: #7cbfdf;
}

#column-four a {
    text-decoration: none;
    color: #7cbfdf;
}

.title {
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
}

#feet {
    height: 200px;
    background-color: #242e30;
    background-image: url(/LaboratoryTwo/assets/zabek.jpg);
    background-repeat: repeat-x;
    text-align: center;  
    padding-top: 50px;
}

.normal-text {
    color: gray;
}

.lighted-text {
    color: honeydew;
}