body {
    margin: 0;
    background-image: url(/LaboratoryThree/assets/tlo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #807a7b;
}
header img {
    width: 200px;
}

#gallery {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.photo {
    padding: 5px;
    width: 105px;
}

#text-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}

#subtitle {
    color: #ddd7cb;
    font-family: Calibri;
    margin-bottom: -1px;
}

#number {
    font-family: Calibri;
    font-style: italic;
}

#text-div span {
    font-family: Calibri;
    text-align: justify;
}

#lorem {
    border-top: 2px solid #414141;
    padding-top: 20px;
    line-height: 1.7em;
    color: #ddd7cb;
}

#mail {
    margin-top: 55px;
    margin-bottom: 55px;
}

#copyright {
    color: #414141;
    margin-bottom: 30px;
}

#text-div a {
    color: #ddd7cb;
    text-decoration: none;
    border-bottom: 2px dotted #ddd7cb;
}


